/*
* SPDX-License-Identifier: Apache-2.0
* Copyright 2017 Massachusetts Institute of Technology.
*/

html, body {margin:0px;padding:0px;height:100%;width:100%;font-family:verdana,sans-serif;}

/* 'Add Agent' modal dialogue box theme */
#modal_box {display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#000000;background-color:rgba(0,0,0,0.6);}
#modal_body  {width:50%;min-width:500px;max-width:750px;min-height:300px;max-height:500px;overflow:auto;border:2px solid #112299;padding:15px;margin:5% auto;background-color:#ffffff;}
.form_block {padding:10px;}
.form_block > input {max-width:250px;}
.form_block > textarea {width:400px;height:60px;padding:5px;}
.file_drop {border-radius:10px;border:2px dashed #aaa;text-align:center;color:#aaa;padding:10px;max-width:300px;margin:3px;}
#payload_block {background-color:#eeffe0;border:#575 1px dotted;}
#policy_toggle, #imalist_toggle {display:block;padding:5px;cursor:pointer;color:#00a;}
#policy_block, #imalist_block {display:none;margin-left:10px;color:#000;background-color:#eee;}
#uuid_str {font-style: italic;}

/* Page header description */
#header {background:#dda;min-height:150px;width:100%;}
#header_banner {background:#dda;width:65%;float:left;text-align:center;padding:5px;color:#000;min-height:100px;line-height:100px;vertical-align:middle;}
.logo {background:#dda url('/static/icons/png/keylime.png') no-repeat center;background-size:110px 110px;padding:5px;width:15%;float:left;min-height:145px;line-height:145px;vertical-align:middle;}

/* Node boxes and containers */
#node_container {list-style-type: none;}
#terminal-frame {margin-top:25px;margin-left:10px;background-color:#000088;border:2px solid #dddddd;width:50%;min-width:500px;max-width:750px;}
#terminal-header {padding:3px;background-color:#dddddd;font-weight:bold;cursor:pointer;}
#terminal {width:100%;min-width:500px;max-width:750px;height:400px;background-color:#000088;color:#ffff00;overflow-x:auto;font-family:monospace;font-size:medium;}

/* Each agent instance for 'agents' table */
#agent_body {padding:10px;}
.table_header {font-weight:bold;}
.table_control {width:50px;display:block;float:left;text-align:center;padding:5px;}
.table_col {width:200px;display:block;float:left;text-align:center;padding:5px;}

.tbl_ctrl, .tbl_ctrl_inactive,
    .tbl_ctrl_processing, .tbl_ctrl_processed,
    .tbl_ctrl_failed, .tbl_ctrl_invalid {margin:2px;width:50px;display:block;float:left;text-align:center;padding:5px;cursor:pointer;}
.tbl_ctrl_inactive {background:#BEBEBE url('/static/icons/png/plus-2x.png') no-repeat center;}
.tbl_ctrl_processing {background:#FFFF00 url('/static/icons/png/trash-2x.png') no-repeat center;}
.tbl_ctrl_processed {background:#88FF99 url('/static/icons/png/trash-2x.png') no-repeat center;}
.tbl_ctrl_failed {background:#FF6666 url('/static/icons/png/bug-2x.png') no-repeat center;}
.tbl_ctrl_invalid {background:#FF6666 url('/static/icons/png/ban-2x.png') no-repeat center;}

.tbl_col, .tbl_col_inactive,
    .tbl_col_processing, .tbl_col_processed,
    .tbl_col_failed, .tbl_col_invalid {margin:2px;width:200px;display:block;float:left;text-align:center;padding:5px;}
.tbl_col_inactive {background-color:#BEBEBE;}
.tbl_col_processing {background-color:#FFFF00;}
.tbl_col_processed {background-color:#88FF99;}
.tbl_col_failed {background-color:#FF6666;}
.tbl_col_invalid {background-color:#FF6666;}

.tbl_det, .tbl_det_inactive,
    .tbl_det_processing, .tbl_det_processed,
    .tbl_det_failed, .tbl_det_invalid {margin-left:66px;padding:15px;width:608px;overflow:auto;}
.tbl_det_inactive {background-color:#BEBEBE;}
.tbl_det_processing {background-color:#FFFF00;}
.tbl_det_processed {background-color:#88FF99;}
.tbl_det_failed {background-color:#FF6666;}
.tbl_det_invalid {background-color:#FF6666;}
