# Test template

[comp1]

version = {{ comp1.version }}
test_option = {{ comp1.test_option }}
test_adjust = {{ comp1.test_adjust }}
oldest_used = {{ comp1.oldest_used }}

[subcomp1]

suboption = {{ subcomp1.suboption }}
