[Unit]
Description=IMA emulator for Keylime
After=network.target tpm_emulator_rm.service
Requires=tpm_emulator_rm.service

[Service]
Environment=TPM2TOOLS_TCTI=tabrmd:bus_name=dev.keylime.tss2.Tabrmd
ExecStart=/usr/bin/bash -c "keylime_ima_emulator"

[Install]
WantedBy=default.target
