# Test template

[comp2]

version = {{ comp2.version }}
test_option = {{ comp2.test_option }}
test_adjust = {{ comp2.test_adjust }}
oldest_used = {{ comp2.oldest_used }}

new_option = {{ comp2.new_option }}

[subcomp2]

suboption = {{ subcomp2.suboption }}

new_option = {{ subcomp2.new_option }}
