name: Build containers base image

on:
  push:
    branches:
      - master
    paths:
      - docker/release/base/Dockerfile.in
      - docker/ci/Dockerfile
  workflow_dispatch:

env:
  REGISTRY: quay.io
  IMAGE_BASE: quay.io/keylime

jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Generate docker metadata for keylime_base
        id: meta_base
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96
        with:
          images: |
            ${{ env.IMAGE_BASE }}/keylime_base
          tags: |
            type=ref,enable=true,priority=600,prefix=,suffix=,event=branch
            type=ref,enable=true,priority=600,prefix=,suffix=,event=tag
            type=sha,prefix=sha-
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=raw,monthly

      - name: Generate docker metadata for CI image
        id: meta_ci
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96
        with:
          images: |
            ${{ env.IMAGE_BASE }}/keylime-ci
          tags: |
            type=ref,enable=true,priority=600,prefix=,suffix=,event=branch
            type=ref,enable=true,priority=600,prefix=,suffix=,event=tag
            type=sha,prefix=sha-
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=raw,monthly
            type=raw,latest

      - name: Prepare Dockerfile
        run: |
          sed "s#_version_#${{ steps.meta_base.outputs.version }}#" "docker/release/base/Dockerfile.in" > docker/release/base/Dockerfile
          sed -i "s#\(LABEL version=\)[^ ]*#\1\"${{ steps.meta_ci.outputs.version }}\"#" docker/ci/Dockerfile

      - name: Build and push base image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
        with:
          context: .
          file: docker/release/base/Dockerfile
          push: true
          tags: ${{ steps.meta_base.outputs.tags }}
          labels: ${{ steps.meta_base.outputs.labels }}

      - name: Build and push CI image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
        with:
          context: docker/ci
          file: docker/ci/Dockerfile
          push: true
          tags: ${{ steps.meta_ci.outputs.tags }}
          labels: ${{ steps.meta_ci.outputs.labels }}

