name: test

on:
  pull_request:
    paths:
      - 'keylime/**'
      - 'test/**'
      - 'test-data/**'
  workflow_dispatch:

jobs:
  style-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
    - uses: actions/setup-python@3542bca2639a428e1796aaa6a2ffef0c0f575566 # v3
    - uses: pre-commit/action@646c83fcd040023954eafda54b4db0192ce70507 # v3.0.0
  tpm-tests:
    runs-on: ubuntu-latest
    container:
      image: quay.io/keylime/keylime-ci:latest
      options: --user root --mount type=tmpfs,destination=/var/lib/keylime/,tmpfs-mode=1770
      env:
        KEYLIME_TEST: True
    steps:
    - name: Checkout
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
    - name: Run tests
      run: .ci/test_wrapper.sh
  lint:
    runs-on: ubuntu-latest
    container:
      image: quay.io/keylime/keylime-ci:latest
      options: --user root --mount type=tmpfs,destination=/var/lib/keylime/,tmpfs-mode=1770
      env:
        KEYLIME_TEST: True
    steps:
    - name: Checkout
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
    - name: Install build dependencies
      run: sudo dnf -y install swig
    - name: Install Python dependencies
      run: sudo dnf -y install python3.6 tox python3-pip
    - name: Run lints
      run: tox -vv -e 'pylint'
    - name: Run mypy
      run: tox -vv -e 'mypy'
    - name: Run pyright
      run: tox -vv -e 'pyright'
